<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Nbrabant\Offers\Api\BannerRepositoryInterface" type="Nbrabant\Offers\Model\BannerRepository" />
    <preference for="Nbrabant\Offers\Api\Data\BannerInterface" type="Nbrabant\Offers\Model\Banner" />
</config>
